/*Fonts
Add to your CSS Under Imported Fonts

@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');*/


@font-face {
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/habibi/v21/CSR-4zFWkuqcTTNyQxhfRuUiSOt_.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/habibi/v21/CSR-4zFWkuqcTTNyTRhfRuUiSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/irishgrover/v23/buExpoi6YtLz2QW7LA4flVgv__RPSC8ocg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: #ffffff;
}

body {
    font-family: Habibi;
    font-size: 1.25em;
}

header, footer{
    background-color: #06A816;
    color: #ffffff;
    text-align: center;
}

nav ul {
    margin-left: -40px;
    background-color: #ffffff;
}

nav a {
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #E75D02;
}

nav li {
    list-style: none;
}

footer p{
    background-color: #ffffff;
    color: #06A816;
}

header p {
    font-style: italic;
}

.secondary {
    text-align: center;
}

h1, h2, h3{
    font-family: 'Irish Grover';
    padding: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

/* Media Queries */

@media screen and (min-width: 428px){
    nav ul {
        display: grid;
    }
}

@media screen and (min-width: 834px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1280px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}
    

/*

Add to text content
Habibi

Add to headings
Heading: Irish Grover

Sizes
H1: 2.5em
H2: 1.75em
H3, Text: 1.25em


Colors
Green: #06A816
Orange: #E75D02
Black: #000000
White: #ffffff

*/